body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c8c8c8;
    width: 80%;
    margin: 30px auto;

}

.body {
    border: 3px solid #162b50;
}


/* bloc principal
- contour bloc titre  */
.HDR {
    background-color: #fbe4d6;
    width: 97%;
    margin: 10px auto;
    border-radius: 3px;
    padding: 3px;
}

/* titre position  et tout le reste */

#Entete {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/* Titre, postion */
.titre-header {
    color: #833b0c;
    margin:0;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

/* bloc principal
- Grand cadre vert + fond beige et il me permet de faire l'espace entre la ligne noir
 et le trait vert*/

.conteneur-global {
    width: 97%;
    padding: 15px;
}

/* Bloc intérieur blanc avec les contour vert */

.bloc-centre {
    background-color: rgb(251, 228, 214);
    border: 3px solid #91cf50;
    display: flex;
    padding: 20px;
}

/* Image gauche */
.bloc-image {
    flex: 1;
    margin-right: 20px;
}

.bloc-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Texte principal a droite de l'image */

.bloc-texte {
    flex: 1.2;
    background-color: #ffffff;
    padding: 40px 30px;
    text-align: center;
}

.bloc-texte h2 {
    margin-top: 0;
    font-size: 34px;
    color: #833b0c;
}

.bloc-texte p {
    font-size: 20px;
    color: #833b0c;
    margin-bottom: 15px;
}

.lien-produits {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    color: #833b0c;
}

/* Bloc bas gauche infos   */
.footer-contact {
    display: flex;
    flex-direction: column;
    color: #833b0c;
}

.footer-mail {
    text-decoration: underline;
}

.footer-tel {
    margin-top: 5px;
}

/* ce bloc ces le bloc du bas
-bloc bas les contour et tout  */

.Foot {
    background-color: #fbe4d6;
    width: 97%;
    margin: 10px auto;
    padding: 7px;
}

/* bloc blant interne */
.pied-de-page {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* info sur le numero et le mail  */

.contact {
    color: #833b0c;
    font-size: 18px;
}

.mail {
    text-decoration: underline;
}

/* logo resseau sociaux et le contact */

.footer-center {
    text-align: center;
    flex: 1;
}

.footer-title {
    font-size: 28px;
    font-weight: bold;
    color: #833b0c;
    margin-bottom: 10px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-logos img {
    width: 32px;
    height: 32px;
}